*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    width: 100%;
    color: #c0bab6;
    background-color: #333333;
}
.mainheading{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.mainheading h1{
    font-size: 36px;
    font-weight: normal;
}
.mainheading p{
    font-size: 12px;
    padding-bottom: 15px;
    border-bottom:1px solid #c0c0c0;
    
}
.mainheading nav{
    padding-top: 15px;
}
.mainheading nav a{
    font-size: 13px;
    padding: 5px 10px;
    color: #c0bab6;
    text-decoration: none;
}
.mainheading nav a:hover{
    background-color: #fff;
    color: #ff9900;
}
.main{
    width: 960px;
    margin: 0 auto;
}
.imgBorder{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
    width: 940px;
}
.imgBorder:hover{
    border-color: #ff9900;
}
.imgBorder div{
    background-color: #333333;
    height: 360px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.col-left{
    width: 60%;
}
.col-left h2{
    font-size: 16px;
    color: #979797;
    text-transform: uppercase;
    margin-top: 20px;
}
.col-left p{
    font-size: 13px;
    margin-top: 15px;
    color: #979797;
}
.col-left a{
    text-decoration: none;
    color: #ff9900;
}
.border-left-1{
    border: 1px solid #000;
    padding: 4px;
    width: 180px;
    height: 150px;
    margin-top: 30px;
    float: left;
}
.row-right-1 h2{
    font-size: 15px;
    padding-left: 220px;
}
.row-right-1 p{
    padding-left: 220px;
}
.row-right-1 a{
    font-size: 11px;
    text-decoration: none;
    float: right;
    padding-top: 30px;
}
.border-left-2{
    border: 1px solid #000;
    padding: 4px;
    width: 180px;
    height: 150px;
    margin-top: 30px;
    float: left;
}
.row-right-2{
    padding-top: 70px;
}
.col-right{
    width: 30%;
}
.col-right h2{
    font-size: 18px;
    margin-top: 20px;
    color: #979797;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}
.col-right ul {
    margin-top: 15px;
}
.col-right ul li{
    list-style-type: none;
    border-bottom: 1px dotted #000 ;
    font-size: 13px;
    padding: 5px 0 5px 15px;
}
.col-right ul li a{
    text-decoration: none;
    color:#666666;
}
.col-right ul li a:hover{
    color: #ff9900;
}
.lists h2{
    padding-top: 5px;

}
.lists ul li{
    border-bottom: none;
    padding: 0;
    color: #666666;
}
.lists p{
    font-size: 13px;
    padding-top: 7px;
    color: #666666;
}
.paragraph{
    padding-bottom: 30px;
}
.bottom-section{
    width: 100%;
    background-color: #333333;
}
.link-block{
    width: 960px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 40px;
}
.block-1{
    width: 25%;
}
.block-1 h2{
    font-size: 13px;
    color: #fff;
    padding: 40px 0 20px 10px;
}
.block-1 ul li{
    list-style-type: none;
    padding-left: 10px;
    padding: 5px ;
}
.block-1 ul li a{
    text-decoration: none;
    color: #ff9900;
    border-bottom:1px solid #989898 ;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.block-2{
    width: 25%;
    margin-left: 30px;
}
.block-2 h2{
    font-size: 13px;
    color: #fff;
    padding: 40px 0 20px 10px;
}
.block-2 ul li{
    list-style-type: none;
    padding-left: 10px;
    padding: 5px ;
}
.block-2 ul li a{
    text-decoration: none;
    color: #ff9900;
    border-bottom:1px solid #989898 ;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.block-3{
    width: 25%;
    margin-left: 30px;
}
.block-3 h2{
    font-size: 13px;
    color: #fff;
    padding: 40px 0 20px 10px;
}
.block-3 ul li{
    list-style-type: none;
    padding-left: 10px;
    padding: 5px ;
}
.block-3 ul li a{
    text-decoration: none;
    color: #ff9900;
    border-bottom:1px solid #989898 ;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.block-4{
    width: 25%;
    margin-left: 30px;
}
.block-4 h2{
    font-size: 13px;
    color: #fff;
    padding: 40px 0 20px 10px;
}
.block-4 ul li{
    list-style-type: none;
    padding: 5px 0 5px 10px ;
}
.block-4 ul li a{
    text-decoration: none;
    color: #ff9900;
    border-bottom:1px solid #989898 ;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.footer{
    background-color: #232323;
    color: #919191;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}